
<% provide(:title, 'Sign up') %>
<div class="b-img">
  <h1 class="new-name">アカウント登録</h1>
  <div class="row">
    <div class="new-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"mt-5" }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.label :name, "アカウント名", class: 'new-box' %>
        <%= f.text_field :name, class: 'form-control', placeholder: "アカウント名を入力" %>

        <%= f.label :email, "メールアドレス", class: 'new-form-li'%>
        <%= f.email_field :email, class: 'form-control', placeholder: "E-mailを入力" ,autocomplete: "email"%>

        <%= f.label :password, "パスワード", class: 'new-form-li'%>
        <div class="edit-errore">
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上入力してください)</em>
          <% end %><br/>
        </div>
        <%= f.password_field :password, class: 'form-control' ,placeholder:"パスワードを入力", autocomplete: "off"%>
        <%= f.label :password_confirmation, "パスワードを確認", class: 'new-form-li'%>
        <%= f.password_field :password_confirmation, class: 'form-control',placeholder: "パスワードを再確認", autocomplete: "off" %>
        <%= f.submit "登録する", class: "new-sub" %>
      <% end %>
    </div>
  </div>
</div>