<div id="edit-main">
  <%= render "partial/side"%>
  <div class="edit-cont">
    <div class="postsnew-card">
      <div class="new-box white">
        <%= form_with model: @post do |f| %>
          <%= image_tag default_photo(current_user).url, class: "post-profile-icon new-user-image" %>
          <div class="postsnew-form">
            <%= f.text_field :caption, class: "form-control ", placeholder: "タイトル" %>
          </div>
          <%= f.fields_for :movies do |m| %>
            <%= m.file_field :video %>
          <% end %>
          <div class="postsnew-btn">
            <%= f.submit "投稿する", class: "btn postsnew-btn-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
