<div id="edit-main">
  <%= render "partial/side"%>
  <div class="edit-cont">
    <div class="card-header  d-flex" id="card-header-show-sub">
      <%= link_to user_path(@post.user), class: "no-text-decoration" do %>
        <%= image_tag default_photo(@post.user).url, class: "post-profile-icon" %>
      <% end %>
      <%= link_to user_path(@post.user), class: "no-text-decoration user-name posts-hover", title: @post.user.name do %>
        <strong><%= @post.user.name %></strong>
      <% end %>
      <% if @post.user_id == current_user.id %>
        <%= link_to post_path(@post), method: :delete, class: "ml-auto mx-0 my-auto" do %>
          <div class="delete-post-icon"> </div>
        <% end %>
      <% end %>
    </div>
    <div class="posts-show-card">
      <div class="posts-show-title white">
        <%= @post.caption %>
      </div> 
      <iframe width="950" height="550" src="<%= @post.movies.first.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="posts-show-comment-box">
      <div class="row actions posts-show-comment" id="comment-form-post-<%= @post.id.to_s %>">
        <%= form_with model: [@post, Comment.new],  class: "w-100" do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off %>
        <% end %>
      </div>
      <div class="card-right-comment">
        <div class="comment-post-id white">
          <div class="m-2">
            <div id="comment-post-<%= @post.id.to_s %>">
                <%= render 'comment_list', post: @post %>
            </div>
          </div>
        </div>
      </div>
      <div class="row parts">
        <div id="like-icon-post-<%= @post.id.to_s %>">
          <% if @post.liked_by(current_user).present? %>
            <%= link_to "いいねを取り消す", post_like_path(@post.id, @post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
          <% else %>
            <%= link_to "いいね", post_likes_path(@post), method: :POST, remote: true, class: "love hide-text" %>
          <% end %>
        </div>
      </div>
      <div class="white" id="like-text-post-<%= @post.id.to_s %>">
        <%= render "like_text", { likes: @post.likes } %>
      </div>
      <div class="post-time">
        <%= time_ago_in_words(@post.created_at).upcase %>前 
      </div>
      <hr>
    </div>
  </div>
</div>
